{% extends 'first/base.html' %}
{% block content %}
<div class="row abt">
  <div class="col-sm-12">
    <h1>ABOUT US</h1>
    <p>Bikes365 is a leading motorbike rental company that offers a diversified and exceptional range of two-wheelers on rent. Bike riders who have a spirit governed by an intense passion to ride different bikes have just landed in the right place. We are regarded as one of the best bike rental companies due to our personalized service and higher commitment levels. We have a huge store of exclusive bikes where riders can choose to ride on an hourly, daily, weekly or monthly basis.<br><br>

    You can go on a long ride and have an enjoyable trip for consecutive days by hiring your favourite bikes on rent. Our company offers competitive pricing and optimum quality bikes that provide an exquisite experience for all. We have a pool of bikes to suit various requirements and specifications of customers. Our customer-oriented approach enables us to fulfill your distant dreams and serve beyond your expectations levels.<br><br>

    Our unique deals and perfect offers have helped us gain absolute trust and reliance of customers. We have continuously been upgrading our online store with the new and latest collection of bikes. You can now choose bikes within your budgets and preferences. We believe in seeing our customers happy and satisfied with our service.<br><br>

    With Bikes365 you can rent bikes in Ahmedabad, Ajmer, Aurangabad, Bangalore, Chandigarh, Chennai, Coimbatore, Dalhousie, Dehradun, Delhi, Dharamshala, Fatehpur, Ghaziabad, Goa, Guwahati, Hyderabad, Indore, Jaipur, Jaisalmer, Jammu, Jodhpur, Kanpur, Kanyakumari, Kochi, Kolkata, Leh, Lucknow, Manali, Mangalore, Mount Abu, Mumbai, Munnar, Mussoorie, Mysore, Nainital, Ooty, Pondicherry, Port Blair, Pune, Rishikesh, Shillong, Shimla, Siliguri, Thiruvananthapuram, Udaipur, and Vishakapatnam. </p>
  </div>
</div>

{% endblock content %}
