{% extends 'first/base.html' %}
{% load static %}
{% block content %}
<br><br>
<div class="row">
  <div class="col-md-8 offset-md-2 col-sm-12 ord">
    <h2>Order Details</h2>
    <hr>
    <div class="row ordmin">
      <div class="col-sm-6">
        <b>Order Id:</b>  ##{{order.id}}
      </div>
      <div class="col-sm-6">
        <b>Order Date:</b>  {{order.orderdate}}
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-6">
        <img src="{{order.bikeid.bikeimg.url}}" alt=""><br>
        <b>{{order.bikeid.name}}</b>
      </div>
      <div class="col-sm-6">
        <b>Start:</b>  {{order.startdaytime}}
        <br>
        <b>End:</b> {{order.enddaytime}}
        <br><br>
        <b>Total Amount :</b> &#8377;{{rent}}
        <br><br>
        <div class="row sp">
          <div class="col-sm-6">
            <span class="bike">Mileage : {{order.bikeid.mileage}}</span>
          </div>
          <div class="col-sm-6">
            <span class="bike">Fuel Capacity: {{order.bikeid.fuelcap}}L</span>
          </div>
        </div>
        <br>
        <div class="row sp">
          <div class="col-sm-6">
            <span class="bike">Model: {{order.bikeid.model}}</span>
          </div>
          <div class="col-sm-6">
            <span class="bike">Cost Per Day: {{order.bikeid.costperday}}</span>
          </div>
        </div>
        <br>
        <div class="row sp">
          <div class="col-sm-12">
            <span class="bike">Top Speed: {{order.bikeid.topspeed}}km/hr</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <a href="/cart/" class="btn btn-success btn-lg">BACK</a>
  </div>
</div>
{% endblock content %}
